#formHuntMobs .input-group-text{
  min-width:107px;
}

#form, #rowHunt{
  margin-top: 20px;
}


.row > .card{
  padding-right:0;
  padding-left:0;
  margin-right:5px;
}

.right{
  float: right;
}

.input-group-text img {
    margin-right: 10px;
}
